# Universial ignores
.vscode
__pycache__
Presentation

# Motor Module ignores
tango_dll_errlog.txt

# Camera Module ignores
Programm/Camera Module/Pictures

# Microscope Module ignores

# Detection Module ignores

# Databank Module ignores
database.ini
Programm/Databank Module/Pictures