# Universial ignores
.vscode
__pycache__
Presentation
PDFs
node_modules
Pictures
Meta


# Motor Driver ignores
tango_dll_errlog.txt

# Camera Driver ignores

# Microscope Driver ignores

# Detection Driver ignores

# Databank Driver ignores
database.ini


# Latex Ignore
main.pdf
main.aux
main.idx
main.synctex.gz
main.toc
*.log
*.blg
*.bbl